
h1 {
  line-height: 4rem;
  font-size: 5rem;
  letter-spacing:-0.15rem;
  color: #442d0f;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  mix-blend-mode: multiply;
}
h1,
.Form, .Form p {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}
.Form,
.Form p {
  color: #332410;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  mix-blend-mode: multiply;
  height: min-content;
  letter-spacing:-0.02rem;
  margin:-0.2rem 0 0.4rem;
}
.Form #number-select {
  padding: 0;
  margin: 0;
  border: 0.1rem groove #332410;
  border-radius: 6px;
  font-size:1rem;
  height: 1.2rem;
  line-height:0.5rem;
    color: #332410;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}